{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<head>
    <style>
        .form-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>


<body>
    <div id="menu"></div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <form id="form" method="POST" id="formulario-general">
                        {% csrf_token %} 
                    
                        <div class="card-header">
                            <h4 class="text-center">Cambio de contraseña</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña antigua</label>
                                {{ form.old_password|as_bootstrap_field }}
                              </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña nueva</label>
                                {{ form.new_password1|as_bootstrap_field }}
                            </div>
                            <div class="mb-3">
                              <label for="password" class="form-label">Repetir contraseña</label>
                              {{ form.new_password2|as_bootstrap_field }}
                          </div>
                            <div class="form-footer mt-4">
                                <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="piePagina"></div>
</body>
{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/mipassword.js' %}"></script>
{% endblock script %}
