{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    
  <form id="form" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="container my-4">
      <div class="row">
          <div class="col-lg-6">
              <div class="card p-3">
                  <form method="POST" id="form" enctype="multipart/form-data">
                      <div class="mb-3">
                          <label for="rut" class="form-label">RUT</label>
                          {{formPerfil.rut}}
                      </div>
                      <div class="mb-3">
                          <label for="rut" class="form-label">Usuario</label>
                          {{formUser.username}}

                      </div>
                      <div class="mb-3">
                          <label for="nombres" class="form-label">Nombres</label>
                          {{formUser.first_name}}
                      </div>
                      <div class="mb-3">
                          <label for="apellidos" class="form-label">Apellidos</label>
                          {{formUser.last_name}}
                      </div>
                      <div class="mb-3">
                          <label for="correo" class="form-label">Correo</label>
                          {{formUser.email}}

                      </div>
                      <div class="mb-3">
                          <label for="direccion" class="form-label">Dirección</label>
                          {{formPerfil.direccion}}
                      </div>
                      <div class="form-check mb-3">
                          {{formPerfil.subscrito}}
                          <label class="form-check-label" style="padding-right:20px" for="suscripcion">Deseo suscribirme con un aporte de $3000
                              mensuales y obtener un 5% de descuento en mis compras.</label>
                      </div>
                      {{ formPerfil.imagen }}
                  </form>
              </div>
          </div>
          <div class="col-lg-6">
            <div class="card p-3">
                <!-- Imagen de perfil -->
                <div class="d-flex justify-content-center align-items-center mb-3" style="height: 100%;">
                    <img id="cuadro-imagen" src="/static/core/img/placeholder.jpg">
                </div>
                <!-- Botones para subir y eliminar imagen -->
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary"> Guardar </button>
                    <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();" class="btn btn-primary">Subir Imagen</button> 
                    <button id="crear_usuario_prueba" class="btn btn-danger">TEST</button>
                    <button id="limpiar_formulario" class="btn btn-danger">Limpiar</button>
                </div>
            </div>
        </div>

    <!-- AREA DE BOTONES -->
    <div class="mt-2 text-center">

      <button type="submit"> Actualizar mis datos </button>

      <!-- AREA DE BOTON DE SELECCIONAR IMAGEN: Reemplaza el botón "Seleccionar archivo" por otro con Bootstrap (VER COMENTARIO "BOTON IMAGEN" en script.js) -->
      <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();"> Seleccionar imagen </button>  

    </div>

  </form>

{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/misdatos.js' %}"></script>
{% endblock script %}
