{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}


<body>
    <div id="menu"></div>

    <div class="container mt-5">
        

        <h1>Mantenedor de Productos</h1>
        <form name="validacionProducto" enctype="multipart/form-data" id="form" novalidate method="post">

            {% csrf_token %}
            

            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    {{form.categoria|as_bootstrap_field}}
                                </div>
                                <div class="form-group">
                                    {{form.nombre|as_bootstrap_field}}
                                </div>
                                <div class="form-group">
                                    {{form.descripcion|as_bootstrap_field}}
                                </div>
                                <div class="form-group">
                                    {{form.precio|as_bootstrap_field}}
                                </div>
                                <div class="form-group">
                                    {{form.descuento_subscriptor|as_bootstrap_field}}
                                </div>
                                <div class="row">
                                    <div class="form-group" id="passField">
                                        {{form.descuento_oferta|as_bootstrap_field}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-3">
                            {% if form.imagen.value %}
                            <div class="d-flex justify-content-center align-items-center mb-3" style="height: 25%">
                                <img id="cuadro-imagen" src="/media/{{ form.imagen.value }}" style="max-width: 250px; max-height:250px">
                            </div>                            {% else %}
                                <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-fluid">
                            {% endif %}
                            
                            <div class="text-center mt-3">
                                <div class="text-center mt-3">
                                    <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();" class="btn btn-primary">Subir Imagen</button> 
                                </div>
                                {{form.imagen}}
                                <button id="eliminarImagen" class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-sm-12 mx-4 my-2">
                <button type="reset" id="limpiar_formulario" class="btn btn-primary mx-2">Nuevo</button>
                <input class="btn btn-primary" type="submit" value="Agregar">
                {% if form.instance.id %}
                    <a class="btn btn-primary" href="{% url 'productos' 'eliminar' form.instance.id %}"> Eliminar </a>
                {% endif %}
            </div>
        </form>
       
    </div>

    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Descuento Subscriptor %</th>
                    <th>Descuento Oferta %</th>
                    <th>Editar</th>
                    <th>Eliminar</th>


                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.categoria}}</td>
                <td>{{producto.precio|formatear_dinero}}</td>
                <td>{{producto.descuento_subscriptor|formatear_porcentaje}}</td>
                <td>{{producto.descuento_oferta|formatear_porcentaje}}</td>
                <td>
                    <a href="{% url 'productos' 'actualizar' producto.id %}" class="btn btn-primary btn-sm"> Editar </a>
                </td>
                <td>
                    <form method="delete">
                        <a href="{% url 'productos' 'eliminar' producto.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
                    </form>
                </td>
                </tr>
            
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="footer"> </div>

</body>




{% endblock content %}
{% block script %}
<script src="{% static 'core/js/productos.js' %}"></script>
<script src="{% static 'core/js/script.js' %}"></script>
{% endblock script %}