{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<body>
    <div id="menu"></div>

    <div class="container mt-5">
        <h1>Mantenedor de Usuarios</h1>
        <form method="POST" enctype="multipart/form-data" id="form" novalidate method="post">
        <div class="row justify-content-left mx-3">
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="rut" class="form-label">RUT</label>
                                {{formPerfil.rut}}
                            </div>
                            <div class="mb-3">
                                <label for="rut" class="form-label">Tipo de usuario</label>
                                {{formPerfil.tipo_usuario}}
                            </div>
                            <div class="mb-3">
                                <label for="rut" class="form-label">Usuario</label>
                                {{formUser.username}}

                            </div>
                            <div class="mb-3">
                                <label for="nombres" class="form-label">Nombres</label>
                                {{formUser.first_name}}
                            </div>
                            <div class="mb-3">
                                <label for="apellidos" class="form-label">Apellidos</label>
                                {{formUser.last_name}}
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">E-mail</label>
                                {{formUser.email}}

                            </div>
                            <div class="mb-3">
                                <label for="direccion" class="form-label">Dirección</label>
                                {{formPerfil.direccion}}
                            </div>
                            <div class="form-check mb-3">
                                {{formPerfil.subscrito}}
                                <label class="form-check-label" style="padding-right:20px" for="suscripcion">Deseo
                                    suscribirme con un aporte de $3000
                                    mensuales y obtener un 5% de descuento en mis compras.</label>
                            </div>

                            {{ formPerfil.imagen }}
                            <div class="text-start mt-4">
                                <!-- Botón de guardar -->
                                <button type="submit" class="btn btn-primary"> Guardar </button>
                                <button type="reset" class="btn btn-secondary mx-2">Limpiar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3">
                        {% if form.imagen.value %}
                        <div class="d-flex justify-content-center align-items-center mb-3" style="height: 25%">
                            <img id="cuadro-imagen" src="/media/{{usuario.imagen}}" style="max-width: 250px; max-height:250px">
                        </div>                            {% else %}
                            <img id="cuadro-imagen" src="{% static 'core/img/placeholder.jpg' %}" class="img-fluid">
                        {% endif %}
                        
                        <div class="text-center mt-3">
                            <div class="text-center mt-3">
                                <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();" class="btn btn-primary">Subir Imagen</button> 
                            </div>
                            {{form.imagen}}
                            <button id="eliminarImagen" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo usuario</th>
                        <th scope="col">RUT</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Con subscripción</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.tipo_usuario}}</td>
                    <td>{{usuario.rut}}</td>
                    <td>{{usuario.usuario.first_name}}</td>
                    <td>{{usuario.usuario.last_name}}</td>
                    <td>{{usuario.usuario.email}}</td>
                    <td>{{usuario.direccion}}</td>
                    <td>{{usuario.subscrito}}</td>
                    <td><img id="imagenwebon" src="/media/{{usuario.imagen}}" style="max-width: 250px; max-height:250px"></td>
                    <td>
                        <div class="btn-group">
                          <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-primary btn-sm"> Editar </a>
                          <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
                          <form action="{% url 'cambiar_password' %}" method="post" id="form_{{ usuario.usuario.username }}">
                            {% csrf_token %}
                            <input type="hidden" id="username" name="username" value="{{ usuario.usuario.username }}">
                            <button class="btn btn-info btn-sm" id="id_generar_password" onclick="document.getElementById('form_{{ usuario.usuario.username }}').submit();"> Contraseña </button>
                          </form>
                        </div>
                      </td>
                    </tr>
                
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>

{% endblock content %}

{% block script %}
<script src="{% static 'core/js/script.js' %}"></script>
<script src="{% static 'core/js/usuarios.js' %}"></script>
{% endblock script %}